.container{
  margin: 0 auto;
  padding: 18px 16px;
}
.header{
  position: relative;
  color: #fff;
  background: linear-gradient(113.28deg,#1A47EA 3.44%, #82E9FF 96.25%);
}
.users img{
  width: 200px;
  height: 200px;
}
.nav{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
.nav__logo{
  font-size: 15px;
}
.burger{
  position: absolute;
  top: 18px;
  right: -46px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 101;
}
.burger__active{
  position: absolute;
  justify-content: center;
  left: 16px;
  transition: all 0.3s ease;
}
.burger__active .line-1{
  position: absolute;
  transform: rotate(45deg);
}
.burger__active .line-2{
  position: absolute;
  transform: rotate(-45deg);
}
.burger__line{
  transition: all 0.4s ease;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background-color: #ffffffd6;
}
.nav__links{
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  z-index: 50;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #ffffff8e;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
.link{
  color: #262626;
  font-size: 17px;
}
.link:hover{
  transition: all 0.3s ease;
  text-decoration: underline;
  text-decoration-color: #FF9B05
}
.nav__links-active{
  visibility: visible;
  color: #1b1b1b;
  left: 0;
}
/*                        content                       */
.content{
  text-align: center;
  margin: 50px 0;
}
.content__title h1{
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 12px;
}
.content__subtitle{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}
.content__online{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 44px;
  border-radius: 13px;

}
.content__line{
  margin-bottom: 14px;
  height: 4px;
  position: relative;
  width: 50%;
  left: 25%;
  border-radius: 5px;
  background: linear-gradient(120.79deg,#FFAC8B 31.33%, #FF4900 101.79%);
}

.button{
  padding: 14px 38px;
  background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}
.content__img{
  display: none;
  animation: line 3s linear infinite;
}
@keyframes line{
  0%{
    transform: translateY(15px)
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(15px);
  }
}
.wave{
  width: 100%;
  height: 100%
}
.wave img{
  width: 100%;
}

/*                       main                        */
.main{
  background: rgba(245, 249, 255, 1);
}
.main__container{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#252b31;
}
.phone{
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  animation: line 3s linear infinite ;
}
.phone__data{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0
}
.phone__info{
  display: flex;
  align-items: center;
}
.phone__data i{
  margin-right: 6px;
  color: #283d43;
}
.phone__img{
  width: 100%;
}
.phone__img img{
  width: 100%;
}
.main__title{
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.title{
  text-align: center;
  position: relative;
}
.title:after{
  content: '';
  position: absolute;
  top: 2px;
  left: -15px;
  width: 29px;
  height: 5px;
  background-color: #FFAC8B;
  border-radius: 3px;
  transform: rotate(-45deg);
}
.title:before{
  content: '';
  position: absolute;
  bottom: 2px;
  right: -18px;
  width: 29px;
  height: 5px;
  background-color: #FFAC8B;
  border-radius: 3px;
  transform: rotate(-45deg);
}
.main__content{
  padding: 0 20px;
  text-align: center
}
.main__item{
  text-align: left;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.main__item i{
  color: #f0cb35;
  margin-right: 10px;
}
.main__button{
  display: inline-block;
  margin-top: 10px;
}

/*                       reviews  */
.reviews{
    background: linear-gradient(113.28deg,#1A47EA 3.44%, #82E9FF 96.25%);
}
.reviews__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__title{
  margin-top: 28px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.swiper{
  text-align: center;
  width: 300px;
  min-height: 100px;
  margin-bottom: 40px;
}
.revSwiper .swiper-slide{
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  0px 0px 0px #fcfcfc,
               -0px -0px 0px #ffffff;
}
.card__image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 14px;
}
.card__image img{
  width: 100%;
}
.card__name{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px;
}
.card__comment{
  font-size: 14px;
  font-weight: 500;
}
.reviews__wave{
  width: 100%;
}
.revSwiper .swiper-button-next,.revSwiper .swiper-button-prev{
  color: #fff;
}
.revSwiper .swiper-button-next{
  right: -20px;
}
.revSwiper .swiper-button-prev{
  left: -20px;
}
.revSwiper .swiper-button-prev:after, .revSwiper .swiper-button-next:after{
  z-index: 20;
}
.revSwiper .swiper-button-prev:before, .revSwiper .swiper-button-next:before{
  z-index: 15;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 3px;
  content: '';
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg,#45a7e3 12.44%, #b5e6f2 88.25%);
}
.revSwiper .swiper-button-prev:before{
  top: 0;
  left: 0;
}
.revSwiper .swiper-button-next:before{
  right: 0;
  top: 0;
}


/*                             contact                         */
.contact{
    background: rgba(245, 249, 255, 1);
}
.contact__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #252b31;
}
.contact__title{
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.contact__subtitle{
  font-size: 14px;
  font-weight: 500;
}
.contact__image{
  display: none;
  animation: line 3s linear infinite;
}
.contact__button{
  display: inline-block;
  margin-top: 20px;
}
.contact__card{
  text-align: center;
  margin-bottom: 40px;
  padding: 24px;
  border-radius: 24px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  33px 33px 100px #9e9e9e,
               -33px -33px 100px #ffffff;
}


/*                            developers                          */
.devSwiper{
}
.developers{
    background: linear-gradient(113.28deg,#1A47EA 3.44%, #82E9FF 96.25%);
}
.devs__card{
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  border-radius: 25px;
  overflow: hidden;
  width: 170px;
  padding: 14px;
  text-align: center;
  background-color: #fff;
}
.devs__profil{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  border-radius: 25px;
  padding: 17px;
}
.devs__profil img{
  width: 100%;
}
.devs__name{
  font-size: 15px;
  font-weight: 700;
  margin: 8px 0;
}
.devs__rule{
  font-size: 14px;
  font-weight: 600;
}
.developers__title{
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #fff;
}






/*                                 footer                      */

.footer{
  width: 100%;
  background: rgba(245, 249, 255, 1);
}
.footer__container{
  display: flex;
  justify-content: space-between;
  padding: 17px;
}
.footer__link{
  color: #2f3537;
  font-size: 15px;
  font-weight: 600;
}

/*                        Loading                     */

/* From uiverse.io by @satyamchaudharydev */
.loader {
 --height-of-loader: 5px;
 --loader-color: #cf443a;
   margin: 0 auto;
   height: 4px;
   position: relative;
   width: 20%;
   left: 0%;
   border-radius: 5px;
 width: 50%;
 height: var(--height-of-loader);
 border-radius: 30px;
 background-color: rgba(0,0,0,0.2);
 position: relative;
}

.loader::before {
 content: "";
 position: absolute;
 background: var(--loader-color);
 top: 0;
 left: 0;
 width: 0%;
 height: 100%;
 border-radius: 30px;
 animation: moving 1s ease-in-out infinite;
 ;
}

@keyframes moving {
 50% {
  width: 100%;
 }

 100% {
  width: 0;
  right: 0;
  left: unset;
 }
}


/* From uiverse.io by @CristianMontoya98 */
/* From uiverse.io by @DGtalsam */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
         7px 7px 20px 0px rgba(0, 0, 0, .1),
         4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
 }
 
 .btn {
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
 }
 
 .btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
 }
 
 .btn:before,
 .btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
         -4px -4px 5px 0px rgba(255, 255, 255, .9),
         7px 7px 20px 0px rgba(0, 0, 0, .2),
         4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
 }
 
 .btn:before {
  height: 0%;
  width: 2px;
 }
 
 .btn:after {
  width: 0%;
  height: 2px;
 }
 
 .btn:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
 }
 
 .btn:hover:before {
  height: 100%;
 }
 
 .btn:hover:after {
  width: 100%;
 }
 
 .btn span:before,
 .btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
         -4px -4px 5px 0px rgba(255, 255, 255, .9),
         7px 7px 20px 0px rgba(0, 0, 0, .2),
         4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
 }
 
 .btn span:before {
  width: 2px;
  height: 0%;
 }
 
 .btn span:after {
  height: 2px;
  width: 0%;
 }
 
 .btn span:hover:before {
  height: 100%;
 }
 
 .btn span:hover:after {
  width: 100%;
 }